.hruno {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.hrdos{
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.texto{
    font-size: large;
    width: 80%;
    left: 122px;
    position: relative;
    text-align: center;
}


.pregunta{
    color: aliceblue;
    width: 100%;
    text-align: center;
}

.atendere{
    text-align:center;
    color: black;
}

.contactame{
    margin-bottom: 5rem;
    height: 150px;
    background-color:#e49f8e;
    position: relative;
}
.contactame2{
    position: relative;
    top: 33px;
}
.card-body{
    background-image: url(../images/fondo.jpg);
}

.card {
    border: 0px solid;
    text-align: center;
}

.col{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 569px) {
    .texto {
        font-size: large;
        width: 100%;
        left: -4px;
        position: relative;
        text-align: center;
    }
}

@media screen and (max-width:550px) {
    .contactame2{
        position: relative;
        top: 0px;
    }
  }



