{% extends 'fotoapp/base.html' %}
{% load static %}
{% block content %} 

<!-- Friends Wishes -->
<div class="container page-top">



    <div class="row">


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="assets/images/img/cinco.jpg" class="fancybox" rel="ligthbox"  data-fancybox-group="gallery">
                <img  src="assets/images/img/cinco.jpg" class="zoom img-fluid "  alt="">
                   
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a  class="fancybox" href="assets/images/img/seis.jpg"  rel="ligthbox"  data-fancybox-group="gallery">
                <img  src="assets/images/img/seis.jpg" class="zoom img-fluid"  alt="">
            </a>
        </div>
            
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="assets/images/img/siete.jpg" class="fancybox" rel="ligthbox"  data-fancybox-group="gallery">
                <img  src="assets/images/img/siete.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
            
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="assets/images/img/cinco.jpg" class="fancybox" rel="ligthbox" data-fancybox-group="gallery">
                <img  src="assets/images/img/cinco.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
            
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           	<a href="assets/images/img/seis.jpg" class="fancybox" rel="ligthbox"  data-fancybox-group="gallery">
                <img  src="assets/images/img/seis.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
            
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="assets/images/img/siete.jpg" class="fancybox" rel="ligthbox"  data-fancybox-group="gallery">
                <img  src="assets/images/img/siete.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
            
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="assets/images/img/cinco.jpg" class="fancybox" rel="ligthbox"  data-fancybox-group="gallery">
                <img  src="assets/images/img/cinco.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
            
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="assets/images/img/seis.jpg" class="fancybox" rel="ligthbox" data-fancybox-group="gallery">
                <img  src="assets/images/img/seis.jpg" class="zoom img-fluid "  alt="">
            </a>
       </div>
            
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="assets/images/img/siete.jpg" class="fancybox" rel="ligthbox" data-fancybox-group="gallery">
                <img  src="assets/images/img/siete.jpg" class="zoom img-fluid "  alt="">
            </a>
       </div>
           
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="assets/images/img/cinco.jpg" class="fancybox" rel="ligthbox" data-fancybox-group="gallery">
                <img  src="assets/images/img/cinco.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
            
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="assets/images/img/seis.jpg" class="fancybox" rel="ligthbox" data-fancybox-group="gallery">
              	 <img  src="assets/images/img/seis.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
           
       </div>

     
      

    </div>

{% endblock %} 